[payment_version_1] hr {
  display: none;
}

[payment_version_1] .btn {
  background: rgb(140, 197, 65);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(140, 197, 65, 1) 0%, rgba(20, 167, 81, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(140, 197, 65, 1) 0%, rgba(20, 167, 81, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(140, 197, 65, 1) 0%, rgba(20, 167, 81, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44afe7', endColorstr='#3198df', GradientType=0);
  color: #fff;
  display: block;
  width: 100%;
  border: 1px solid rgba(46, 86, 153, 0.0980392);
  border-bottom-color: rgba(46, 86, 153, 0.4);
  border-top: 0;
  border-radius: 4px;
  font-size: 17px;
  text-shadow: rgba(46, 86, 153, 0.298039) 0px -1px 0px;
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

[payment_version_1] .payment-button-popup.cancel {
  display: none;
}

[payment_version_1] .header-credit-card {
  display: none;
}
