.payment-panel {
  margin: 0 auto;
  max-width: 450px;
  background-color: #f5f5f7;
  border: 1px solid #ddd;
  padding: 20px;
  display: block;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payment-panel .payment-button-popup {
  background-color: #71767b;
  border-radius: 4px;
  height: 38px;
  color: white;
  padding: 0 15px;
  border: 1px solid #ced4da;
  margin: 0 5px;
  cursor: pointer;
}

.payment-panel .payment-button-popup:first-child {
  margin-left: 0;
}

.payment-panel .payment-button-popup:last-child {
  margin-right: 0;
}

.payment-panel .payment-button-popup.sucess {
  background-color: #00bf84;
}

.payment-panel .payment-button-popup.hidden {
  display: none;
}

.payment-panel .button-popup {
  text-align: right;
  margin-bottom: -5px;
  margin-top: 15px;
}

.payment-panel h1,
.payment-panel h2 {
  margin: 0;
  text-align: center;
}

.payment-panel hr {
  height: 1px;
  color: #5b5b65;
  background-color: #5b5b65;
  border: none;
}

.payment-panel .recaptcha-google {
  width: 100%;
  margin-left: -7px;
}

.payment-panel .header-company-name {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  padding-bottom: 6px;
  text-shadow: 0 1px 0 #fff;
}

.payment-panel .header-description {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #5b5b65;
  text-shadow: 0 1px 0 #fff;
}

.payment-panel .btn:hover {
  cursor: pointer;
}

.payment-panel .btn:disabled,
.payment-panel .btn[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}

.payment-panel [enabled_installments_payment] .payment-form .expiry-container,
.payment-panel [enabled_installments_payment] .payment-form .cvc-container,
.payment-panel [enabled_installments_payment] .payment-form .installments-wrapper {
  width: 33%;
}
