.paymentez-form .card-number-wrapper .card-type-icon {
  height:21px;
  width:32px;
  position: absolute;
  display: block;
  right: 8px;
  top: 7px;  
  pointer-events: none;
  opacity: 0;
/*
  background: url("https://cdn.paymentez.com/img/cards.png") no-repeat 0px 23px;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  */
}
.paymentez-form .card-number-wrapper .show {
  opacity: 1;
}
.paymentez-form .card-number-wrapper .card-type-icon.visa {
  background: url(ic_visa.svg);
}
.paymentez-form .card-number-wrapper .card-type-icon.master-card {
  background: url(ic_mastercard.svg);
}
.paymentez-form .card-number-wrapper .card-type-icon.american-express {
  background: url(ic_amex.svg);
}
.paymentez-form .card-number-wrapper .card-type-icon.credisensa {
  background: url(ic_credisensa.png);
}
.paymentez-form .card-number-wrapper .card-type-icon.discover {
  background: url(ic_discover.svg);
}
.paymentez-form .card-number-wrapper .card-type-icon.diners {
  background: url(ic_diners.svg);
}
.paymentez-form .card-number-wrapper .card-type-icon.jcb {
  background: url(ic_jcb.svg);
}
