.payment-form .card-number-wrapper .card-type-icon {
  height: 21px;
  width: 32px;
  position: absolute;
  display: block;
  right: 8px;
  top: 7px;
  pointer-events: none;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div[style*="ic_sodexo.svg"] {
  right: 27px!important;
	transform: scale(3)!important;
	background-image: url(https://s3.amazonaws.com/cdn.images/cc/image/ic_sodexo.svg)!important;
}
