.payment-form .cellphone-container {
  width: 50%;
  float: right;
}

.payment-form .cellphone-wrapper {
  box-sizing: border-box;
  margin-left: 5px;
}

.payment-form .cellphone-wrapper .cellphone {
  display: block;
  width: 100%;
}
