.paymentez-form .cvc-container {
  width: 50%;
  float: right;
}

.paymentez-form .center-cvc {
  margin-right: 25%;
}

.paymentez-form .cvc-wrapper {
  box-sizing: border-box;
  margin-left: 5px;
}

.paymentez-form .cvc-wrapper .cvc {
  display: block;
  width: 100%;
}
