.payment-form .icon {
  position: absolute;
  display: block;
  width: 24px;
  height: 17px;
  left: 8px;
  top: 10px;
  pointer-events: none;
}

.payment-form .icon.right {
  right: 8px;
  left: auto;
}

.payment-form .icon.popup {
  cursor: pointer;
  pointer-events: auto;
}

.payment-form .icon .svg {
  fill: #888;
}

.payment-form .icon.popup .svg {
  fill: #aaa !important;
}
