.payment-form .card-number-wrapper,
.payment-form .fiscal-number-wrapper,
.payment-form .email-container,
.payment-form .installments-wrapper,
.payment-form .nip-wrapper,
.payment-form .cvc-wrapper,
.payment-form .name-wrapper {
  margin-bottom: 10px;
}

.payment-form .card-number-wrapper,
.payment-form .fiscal-number-wrapper,
.payment-form .installments-wrapper,
.payment-form .name-wrapper,
.payment-form .expiry-wrapper,
.payment-form .cellphone-wrapper,
.payment-form .email-wrapper,
.payment-form .nip-wrapper,
.payment-form .cvc-wrapper {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 0 rgba(255, 255, 255, 0.7);
  position: relative;
}

.payment-form .card-number-wrapper,
.payment-form .installments-wrapper,
.payment-form .name-wrapper,
.payment-form .fiscal-number-wrapper,
.payment-form .nip-wrapper,
.payment-form .otp-wrapper,
.payment-form .cvc-container,
.payment-form .cellphone-container,
.payment-form .email-container,
.payment-form .expiry-container {
  display: inline-block;
}

.payment-form::after {
  content: ' ';
  display: table;
  clear: both;
}

.payment-form input,
.payment-form select {
  color: #676767;
  font-size: 15px;
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  height: 36px;
  border: 1px solid #d9d9d9;

  border-radius: 4px;
  box-shadow: none;

  background-color: #FDFDFD;

  box-sizing: border-box;
  padding: 0;

  -webkit-transition: border-color .15s linear, box-shadow .15s linear;
  -moz-transition: border-color .15s linear, box-shadow .15s linear;
  -ms-transition: border-color .15s linear, box-shadow .15s linear;
  -o-transition: border-color .15s linear, box-shadow .15s linear;
  transition: border-color .15s linear, box-shadow .15s linear;
}

.payment-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  padding-right: 5px;
  text-overflow: '';
  width: 100%;
}

.payment-form input[disabled],
.payment-form select[disabled] {
  background-color: #eee;
  color: #555;
}

.payment-form select option[hidden] {
  color: #ABA9A9;
}

.payment-form input:focus,
.payment-form select:focus {
  background-color: #fff;
  outline: 0;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.payment-form input[readonly="readonly"]:not([disabled]),
.payment-form input[readonly]:not([disabled]) {
  background-color: #fff;
  cursor: pointer;
}

.payment-form .has-error select,
.payment-form .has-error select:focus,
.payment-form .has-error input,
.payment-form .has-error input:focus {
  border-color: #F64B2F !important;
  box-shadow: none;
}

.payment-form .fiscal-number-wrapper,
.payment-form .card-number-wrapper,
.payment-form .installments-wrapper,
.payment-form .name-wrapper {
  width: 100%;
}

.payment-form input.card-number,
.payment-form input.fiscal-number,
.payment-form input.validation-option,
.payment-form input.name,
.payment-form input.email,
.payment-form input.cellphone,
.payment-form input.nip,
.payment-form input.cvc {
  padding-left: 38px;
  padding-right: 5px;
  width: 100%;
}
