.payment-form .otp-wrapper {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .payment-form .otp-wrapper {
    width: 100%;
  }
}

.payment-form .otp-wrapper .otp-label {
  display: inline-block;
  color: #28a745;
  cursor: pointer;
  position: relative;
  padding: 5px 15px 5px 20px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.payment-form .otp-wrapper .otp-label:hover {
  background: #d4edda;
}

.payment-form .otp-wrapper .otp-label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0px;
  background: none;
  border: 2px solid;
}

.payment-form .otp-wrapper .otp,
.payment-form .otp-wrapper .otp:checked {
  display: none;
}

.payment-form .otp-wrapper .otp:checked + .otp-label,
.payment-form .otp-wrapper .otp:checked + .otp-label:before {
  color: #28a745;
  content: "x";
  border-bottom: 2px solid #28a745;
}
