.payment-form .keyboard-wrapper {
  display: inline-block;
  position: relative;
  width: 80%;
}

.payment-form .key-container {
  display: inline-block;
  position: relative;
  width: 33.3%;
}

.payment-form .key-container button,
.payment-form .clean-container button {
  font-size: 15px;
  padding: 4px 0px;
}

.payment-form .clean-container {
  display: inline-block;
  position: relative;
  width: 66.6%;
}

.payment-form .key,
.payment-form .clean {
  color: #fff;
  background-color: #17a2b8;
  border-color: #fff;
  border-radius: 4px;
  width: 100%;
}

.payment-form .key:hover,
.payment-form .clean:hover {
  background-color: #138496;
}

.payment-form .keyboard-wrapper:hover .key span {
  visibility: hidden;
}

.payment-form .keyboard-wrapper:hover .key:after {
  content: "*";
}
