/* The container */
.paymentez-form .validation-label {
  background: #FDFDFD;
  border: 1px solid #28a745;
  border-radius: 4px;
  color: #28a745;
  cursor: pointer;
  display: inline-block;
  min-width: 60%;
  padding: 6px 0px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paymentez-form .validation-container .checked {
  background: #28a745;
  color: white;
}

/* Hide the browser's default radio button */
.paymentez-form .validation-label input {
  opacity: 0;
  display: none;
  cursor: pointer;
}

.paymentez-form .validation-legend {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

.paymentez-form .validation-fieldset {
  border:1px solid #888;
  border-radius: 4px;
  text-align: center;
}

.paymentez-form .validation-wrapper-nip,
.paymentez-form .validation-wrapper-otp {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

.paymentez-form .validation-container .nip,
.paymentez-form .validation-container .otp {
  display: block;
  width: 100%;
}

.paymentez-form .validation-message {
  text-align: center;
}
