/* The container */
.paymentez-form .validation-label {
  position: relative;
  padding-left: 15%;
  margin-left: 25%;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.paymentez-form .validation-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.paymentez-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.paymentez-form .validation-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a green background */
.paymentez-form .validation-label input:checked ~ .checkmark {
  background-color: #569B29;
}

.paymentez-form .validation-legend {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}

.paymentez-form .validation-fieldset {
  border:1px solid #888;
  border-radius: 4px;
}

.paymentez-form .validation-wrapper-cvc,
.paymentez-form .validation-wrapper-otp {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 50%;
}

.paymentez-form .validation-wrapper-cvc {
  float: left;
}

.paymentez-form .validation-wrapper-otp {
  float: right;
}

.paymentez-form .validation-container .cvc,
.paymentez-form .validation-container .otp {
  display: block;
  width: 100%;
}
